@model IEnumerable<GestionAcademica.Models.Matricula>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Registrar Matricula</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FechaMatricula)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estudiante.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estudiante.Apellido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Curso)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FechaMatricula)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estudiante.Nombre)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Estudiante.Apellido)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Curso.Nombre)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.MatriculaId" class="btn btn-warning btn-sm">Editar</a>
					<a asp-action="Details" asp-route-id="@item.MatriculaId" class="btn btn-info btn-sm">Detalles</a>
					<a asp-action="Delete" asp-route-id="@item.MatriculaId" class="btn btn-danger btn-sm">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
